@font-face {
  font-family: 'american_typewriter';
  font-style: normal;
  src: url('ufonts.com_american-typewriter.ttf') format('truetype');
}

body {
    font-family: "american_typewriter";
    background-color: black;
    color: white;
    margin: 0;
}

.index-body {
    margin: 8px;
}

.elem {
    margin-left: 20vw;
    margin-bottom: calc(12px + 3vw);
    margin-right: 10vw;
}

#eins {
    font-size: calc(12px + 3vw);
}

#zwei {
    font-size: calc(10px + 1vw);
}

#drei{
    font-size: 10px;
}

img{
    width: 10vw;
}

a {
    font-size: calc(10px + 1vw);
}

a:link {
    color: white
}

a:visited {
    color: white
}

a:hover {
    color: #bbbbbb
}

a:active {
    color: #888888
}

#input-txt {
    width: 500px;
    margin-bottom: 30px;
}

.slight-left-tendencies {
    margin-left: 20px;
}
