<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Das Narrenschiff</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        Das Narrenschiff Livestream
        <form action="/send" method="POST">
            <input name="txt">
            <input type="submit">
        </form>
    </body>
</html>
