<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Das Narrenschiff</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body class="index-body">
  <div class="elem"  id="eins"> Ist die <br> Versöhnung mit mir <br> selbst ein <br> asozialer Zustand?</div>
  <div class="elem"  id="zwei"> Das Narrenschiff<br>Verhandlung einer Utopie </div>
  <div class="elem" ><a href="https://www.indiegogo.com/projects/das-narrenschiff-verhandlung-einer-utopie/x/14828622#/">>> Narrenschiff Crowdfunding &lt;&lt;</a></div>
  <div class="elem"  id="zwei"> 3. + 4.11.16 &nbsp;jeweils 16.00 - 20.00<br>5. + 6.11.16 &nbsp;jeweils 14.00 - 18.00<br>10. - 13.11.16 &nbsp;jeweils 16.00 - 20.00</div>
  <div class="elem"  id="zwei">Angenommen Theater sei Spiel. <br><br>

                 &nbsp;&nbsp;Angenommen Theater sei Spiel, würde es durch ein angenommenes Regelwerk definiert und von SchauspielerInnen und ZuschauerInnen gemeinsam gespielt.<br>
                 &nbsp;&nbsp;Angenommen Theater sei Spiel, bedeutete die Probenarbeit die Entwicklung eines Spielraums und eines Konflikte hervorbringenden Regelwerks - die Inszenierung eines Versuchsaufbaus.<br>
                 &nbsp;&nbsp;Angenommen Theater sei Spiel, wäre die Premiere die erste Durchführung dieses Versuchs, während die anschließenden Vorstellungen wiederholte Runden des selben Spiels bildeten, deren Verlauf und Ausgang bei Spielbeginn offen ist.<br>
                 &nbsp;&nbsp;Angenommen Theater sei Spiel, bedeutete „ins Theater gegangen zu sein“ in der Selbstvergessenheit des Spiels gehandelt zu haben und mit der Erfahrung des eigenen Handelns das Theater verlassen haben zu werden.<br>
                 &nbsp;&nbsp;Angenommen Theater sei ein geschützter Handlungsraum, der die Erprobung von Utopien ermöglichte.</div>
  <div class="elem"  id="zwei"> Das Spielfeld kann jederzeit betreten und verlassen werden. Der Eintritt ist frei. </div>
  <div class="elem"  id="zwei"> MOM art space | Valentinskamp 34a Eingang über die Brache Speckstrasse | 20355 Hamburg </div>
  <div class="elem"  id="zwei"> Regie: <a href="http://www.kathiavonroth.de">Kathia von Roth</a><br>
                  Raum: Torben Spieker<br>
                  Kostüm: Julia Simmen<br>
                  Oeil Extérieur: Miko Hucko<br>
                  Licht: <a href="https://danielkalinke.myportfolio.com/">Daniel Kalinke</a><br>
                  Assistenz: <a href="http://inmemoryofexistence.tumblr.com/">Jil Lahr</a><br>
                  Techn. Umsetzung: <a href="https://telekollektiv.org/">tele:kollektiv</a><br>
                  Video & Bild: <a href="http://dennisposer.de/">Dennis Poser</a></div>
  <div class="elem"  id="zwei"> Spiel:<br>
                  Judith Goldberg<br>
                  Isabella Golinski<br>
                  <a href="http://www.spiritspirit.diehl.ws/actors.php?show=a&spr=dt&actor=10">Agnes Jaworek</a><br>
                  <a href="http://www.knudsen-management.de/index.php/person.html?id=51">Rabea Lübbe</a><br>
                  <a href="https://www.instagram.com/l__schuller/">Laura Schuller</a><br>
                  <a href="http://omgvirtuellestheateromg.tumblr.com/">Alina Weber</a></div>
  <div class="elem"  id="zwei"> In Kooperation mit: </div>
  <div class="elem" ><a href="http://hamburg.playfestival.de/play16/de/2016/09/16/das-narrenschiff/"><img src="/static/play16_logo_light_narrow.png" alt="Play16 Logo"></a></div>
  <div class="elem" ><a href="http://das-gaengeviertel.info/"><img src="/static/gv-transparent.png" alt="Gängeviertel Logo"></a></div>
  <div class="elem"  id="zwei">Supported by Probebühne im Gängeviertel</div>
  <div class="elem"  id="drei"><a href="/impressum">Impressum</a></div>
</body>
</html>
