<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Das Narrenschiff</title>
        <link rel="stylesheet" href="/static/embedTwitchCSS.css">
        <link rel="stylesheet" href="/static/style.css">
        <script async src="/static/stream.js"></script>
    </head>
    <body>
        <h1 class="slight-left-tendencies">Schön, dass du da bist,
            <a href="https://de.wikipedia.org/wiki/Kiebitz_%28Spielbeobachter%29" target="_blank">Kiebitz</a></h1>

        <div class="twitchWrapper">
            <div class="twitchStream">
                <iframe src="https://player.twitch.tv/?channel=stephiewunder" frameborder="0" scrolling="no" allowfullscreen></iframe>
            </div>
            <div class="chatbox">
                <iframe frameborder="0" scrolling="no" src="https://kiwiirc.com/client/irc.hackint.eu/narrenschiff"></iframe>
            </div>
        </div>

 <!--
         <p class="slight-left-tendencies">Benenne eine Funktion, die eine*r der nächsten Spielenden vor Spieleintritt erhält:</p>

        <form action="/send" method="POST" class="slight-left-tendencies" id="instruction-form">
            <input name="txt" id="input-txt" placeholder="Gib eine Funktion ein und drücke Enter. Bsp: FunktionsgebErIn">
            <input type="submit" value="Senden">
            <span id="api-response"></span>
        </form> 
-->
    </body>
</html>
