<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Das Narrenschiff</title>
        <link rel="stylesheet" href="/static/embedTwitchCSS.css">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Das Narrenschiff Livestream</h1>

        <div class='twitchWrapper'>
            <div class='twitchStream'>
                <iframe src="https://player.twitch.tv/?channel=stephiewunder" frameborder="0" scrolling="no"></iframe>
            </div>
            <div class='twitchChat'>
                <iframe frameborder="0" scrolling="no" src="https://www.twitch.tv/stephiewunder/chat"></iframe>
            </div>
        </div>

        <form action="/send" method="POST">
            <input name="txt">
            <input type="submit">
        </form>
    </body>
</html>
